# Rename this file to .env and remove these quoted lines if you intend to use it
# See set.js on how to set values
PREFIX=.
API_KEY=gifted-md
SESSION_ID=
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://i.ibb.co/qS0r2r4/shaban-md.jpg
AUTO_READ_STATUS=true
AUTO_LIKE_STATUS=true
AUTO_LIKE_EMOJI=💜
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=✅️ Status Viewed by Gifted-Md!
ANTICALL=false
ANTI_DELETE=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=𝛥𝑅𝑌𝛥𝛮 𝑅𝛥𝐽𝛲𝛩𝛩𝑇
OWNER_NUMBER=923151595788
SUDO_NUMBERS=93187842447,923101532018,923151595788
AUTO_AUDIO=false
BAD_WORDS=fuck,pussy,anus,idiot
ANTIBAD=false
AUTO_BIO=false
AUTO_BIO_QUOTE=Coding is a good thing
CHAT_BOT=false
AUTO_BLOCK=212,98,77
AUTO_REACT=false
PACK_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃💜
PACK_NAME=𝐆𝐈𝐅𝐓𝐄𝐃 𝐓𝐄𝐂𝐇
TIME_ZONE=Asia/Islamabad
